.gradle/
.idea/
*.iml
*.apk
*.class

build/
bin/
obj/
gen/
*/libs/armeabi/
*/libs/armeabi-v7a/
*/libs/mips/
*/libs/x86/
.metadata/
.settings/
.apt_generated/
proguard/


local.properties
.DS_Store
*/.gitignore
